/* You can add global styles to this file, and also import other style files */
.header {
    padding: 12px;
    border-bottom: 1px solid #e0e2eb;
    background-color: aliceblue;
    font-family: Helvetica;
    font-size: 15px;
}
.stock-name  {
    border-bottom: 1px solid #e0e2eb;
    padding: 5px;
    text-align: center;
}

